.homepageFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 80%;
  max-width: 936px;
  margin-bottom: 28px;

  .contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .title {
      font-size: 48px;
      font-weight: 700;
    }

    .titleHighlight {
      color: var(--swm-blue-light-100);
    }

    .description {
      max-width: 600px;
      text-align: center;
    }

    .hireUsButton {
      margin-top: 24px;
    }
  }

  .links {
    padding: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    background-color: var(--swm-blue-light-40);

    .link {
      text-align: center;
    }
  }
}

@media (max-width: 936px) {
  .homepageFooter {
    .contactUs {
      .title {
        font-size: 26px;
      }
    }

    .links {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

[data-theme='dark'] .homepageFooter {
  .links {
    background-color: var(--swm-blue-dark-140);
  }
}
