.content {
    margin-top: 180px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    width: 100%;

    .divider {
        width: 100%;
        height: 1px;
        background-color: var(--swm-blue-light-80);
    }

    @media (max-width: 936px) {
        margin-top: 100px;
        gap: 60px;
    }
}