.cardContainer {
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  border: 1px solid var(--swm-card-border);
  border-radius: 0;
  background-color: var(--swm-card-background);

  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;

  display: flex;
  flex-direction: row;
}

.cardContainer:hover {
  border: 1px solid var(--swm-card-border-hover);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

/* Prevent labels from overflowing from cards */
.cardLabels {
  min-width: 0;
}

.cardIconWrapper {
  width: 24px;
  margin-right: 8px;
}

.cardIcon {
  height: 24px;
  min-width: 24px;

  margin: 4px 0 0 0;
}

.cardContainer h2 {
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: var(--swm-heading-letter-spacing-smaller);
}

.cardContainer p {
  font-size: 16px;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
}
