.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;

  padding: 10px 0;
}

.content a {
  color: inherit;
  text-decoration: underline;
}
.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.headline {
  margin-right: 8px;
}

.subText {
  margin: 0;
}

.subText::before {
  content: ' - ';
}

.link {
  font-size: 20px;
}

@media screen and (max-width: 996px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
  }
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
  }
  .headline,
  .subText {
    font-size: 20px;
  }

  .subText::before {
    content: '';
  }
  .link {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .headline,
  .subText {
    font-size: 16px;
  }

  .link {
    font-size: 14px;
  }
}
