If:
  PathMatch: packages/react-native-reanimated/.*
CompileFlags:
  CompilationDatabase: packages/react-native-reanimated

---
If:
  PathMatch: packages/react-native-worklets/.*
CompileFlags:
  CompilationDatabase: packages/react-native-worklets
