If:
  PathMatch: [.*/react-native/.*, .*/React/.*]
Diagnostics:
  Suppress: "*"
  ClangTidy:
    Remove: "*"
---
CompileFlags:
  Remove:
    [
      -ivfsstatcache,
      -index-store-path,
      -index-unit-output-path,
      -clang-vendor-feature*,
      -fno-odr-hash-protocols,
    ]
