build/
.yarn/

# Markdown is formatted by remark
*.md
*.mdx

# Worklets
packages/react-native-worklets/plugin/lib/
packages/react-native-worklets/plugin/index.js
packages/react-native-worklets/plugin/index.js.map

# Apps
ios/
macos/
vendor/
apps/common-app/**/*.snapshot.ts
