.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.tile {
  width: 160px;
  height: 230px;
  background-color: var(--swm-white);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-theme='dark'] .tile {
  background-color: var(--swm-light-off-navy);
}

.ball {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: var(--swm-purple-light-100);
  animation: moveRightAndBack 2.5s infinite;
  border-radius: 50%;
}

[data-theme='dark'] .ball {
  background-color: var(--swm-purple-dark-80);
}

@media (max-widh: 768px) {
  .tile {
    width: 100px;
    height: 150px;
  }
  .ball {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 520px) {
  .container {
    gap: 1rem;
  }
  .tile {
    width: 90px;
    height: 140px;
  }
  .ball {
    height: 40px;
    width: 40px;
    animation: moveRightAndBackMobile 2.5s infinite;
  }
}

@keyframes moveRightAndBack {
  0%,
  100% {
    transform: translateX(0%);
    border-radius: 100%;
  }
  50% {
    transform: translateX(320%);
    border-radius: 0;
  }
}

@keyframes moveRightAndBackMobile {
  0%,
  100% {
    transform: translateX(0%);
    border-radius: 100%;
  }
  50% {
    transform: translateX(270%);
    border-radius: 0;
  }
}
