[class*='navbar-sidebar__items'] {
  --swm-navbar-sidebar-items-height: 127px; /* Overall height of additional items in mobile sidebar */
  height: calc(
    100% - var(--ifm-navbar-height) - var(--swm-navbar-sidebar-items-height)
  );
  padding-left: 1rem;
}

[class*='navbar-sidebar__back'] {
  display: none;
}

[class*='navbar-sidebar__backdrop'] {
  display: block;
}

[class*='navbar-sidebar__brand'] {
  padding-left: 20px;
}

@media (max-width: 996px) {
  [class*='navbar-sidebar__brand'] {
    --ifm-navbar-height: 68px;
  }
}

[class*='navbar-sidebar'] {
  background-color: var(--swm-off-background);
}

.sidebarGithubIcon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--ifm-font-weight-semibold);

  padding: 0 1em;

  height: 4em;
  background-color: var(--swm-sidebar-elements-background);
}

.sidebarVersionLabel {
  margin-right: 12px;
}

.sidebarVersion {
  margin: 0 8px;
  color: var(--swm-sidebar-elements-version-inactive);
}

.active {
  color: var(--swm-sidebar-elements-version-text);
  text-decoration: underline;
}
