.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;

  padding: 8px 16px;
}

.logo {
  height: 36px;
  width: 36px;
  margin: auto;
  grid-area: logo;
}

.content a {
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 16px;
  grid-area: headline;
  text-wrap: nowrap;
}

p.subText {
  font-size: 14px;
  text-wrap: balance;
  margin: 0;
  grid-area: subText;
}

a.link {
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  padding: 4px 12px;
  border: 1px solid var(--swm-navy-light-100);
  background-color: var(--swm-navy-light-100);
  transition: all 0.2s ease-in-out;
}

.linkTitle {
  color: var(--swm-white);
  font-weight: 500;
  text-wrap: nowrap;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  background-color: var(--swm-white);
  border-color: var(--swm-navy-light-100);
  text-decoration: none;
}

.link:hover .linkTitle,
.link:hover .linkArrow {
  color: var(--swm-navy-light-100);
}

.linkArrow {
  width: 16px;
  height: 16px;
  color: var(--swm-white);
  transition: all 0.2s ease-in-out;
}

.linkArrowContainer {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .content {
    gap: 12px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
      'logo headline'
      'logo subText';
    gap: 0;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 450px) {
  .link {
    width: 100%;
    justify-content: center;
  }
}
