.tabs__wrapper {
}

[class*='tabs__item']:hover {
  background-color: inherit;
}

ul[role='tablist'] li {
  padding: 4px 16px;

  color: var(--swm-tab);
  transition: color 0.15s, border-bottom-color 0.15s;

  border-bottom: 4px solid var(--swm-tab);
  border-radius: 0;
}

ul[role='tablist'] li:hover {
  color: var(--swm-tab-hover);
  border-bottom-color: var(--swm-tab-hover);
}

ul[role='tablist'] li[class*='active'] {
  color: var(--swm-tab-active);
  border-bottom-color: var(--swm-tab-active);
}
