.useCase {
  display: flex;
  flex-direction: column;
  background-color: var(--swm-blue-light-20);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    .title {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .description {
    padding: 24px 24px 48px 24px;
  }

  .link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--swm-blue-light-60);
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .phone {
      resize: both;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }

    .video {
      border-radius: 48px;
      position: absolute;
      height: 90%;
      object-fit: cover;
      z-index: 1;
    }
  }
}

@media (max-width: 996px) {
  .useCase {
    .header {
      .title {
        font-size: 20px;
      }
    }

    .phone {
      max-width: 270px;
      max-height: 572px;
    }

    .content {
      .video {
        border-radius: 32px;
        /* max-width: 208px;
        height: 534px; */
      }
    }
  }
}

[data-theme='dark'] .useCase {
  background-color: var(--swm-blue-dark-140);

  .link {
    background-color: var(--swm-blue-dark-100);
  }
}
