.homepageButton {
  height: 60px;
  padding: 1em 1.5em 1em 1em;

  font-weight: 500;
  font-size: 20px;

  color: var(--swm-off-white);
  background-color: var(--swm-landing-button);

  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

a.homepageButtonLink:hover {
  text-decoration: none !important;
}

.homepageButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .homepageButton,
  .homepageButtonLink {
    width: 100%;
  }
}

.homepageButton p {
  margin: 0 0 2px 0;
}

.homepageButton svg {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow {
  transition: left 0.3s;
}

.arrow {
  left: 8px;
}

.homepageButton svg {
  transition: stroke 0.3s;
}

.homepageButton:hover .arrow {
  left: 16px;
}

/* Button - transparent styling */

.buttonTransparentStyling {
  background-color: transparent;
  color: var(--swm-landing-button);
}

.buttonTransparentStyling svg {
  stroke: var(--swm-landing-button);
}

.buttonTransparentStyling:hover {
  background-color: var(--swm-landing-button);
  color: var(--swm-off-white);
}

.buttonTransparentStyling:hover svg {
  stroke: var(--swm-off-white);
}

.buttonBlueStyling {
  background-color: var(--swm-landing-button);
  color: var(--swm-off-white);
}

.buttonBlueStyling svg {
  stroke: var(--swm-off-white);
}

.buttonBlueStyling:hover {
  background-color: transparent;
  color: var(--swm-landing-button);
}

.buttonBlueStyling:hover svg {
  stroke: var(--swm-landing-button);
}

.buttonBlueBorderStyling {
  border: 1px solid var(--swm-landing-button);
}

.arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
}
