.testimonialSlides {
  display: flex;
  flex-direction: column;
}

.testimonialSlide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.4s ease-in-out;
}

.activeTestimonialSlide {
  visibility: visible !important;
  opacity: 1 !important;
}

.testimonialPair {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  width: 100%;
}

.dotsContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2.5rem;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: var(--swm-navy-light-transparent);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

[data-theme='dark'] .dot {
  background-color: var(--swm-white-transparent-light);
}

[data-theme='dark'] .activeDot,
[data-theme='dark'] .dot:hover {
  background-color: var(--swm-off-white);
}

.activeDot,
.dot:hover {
  background-color: var(--swm-navy-light-100);
}

@media (max-width: 996px) {
  .testimonialPair {
    flex-direction: column;
  }
}
