.animationsSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
}
.animationsSectionWrapper > div:first-child {
  margin-bottom: 5.5rem;
  background-color: var(--swm-purple-light-transparent);
  width: 100%;
  height: 23rem;
  padding: 3rem 7.5rem 3rem 7.5rem;
}
[data-theme='dark'] .animationsSectionWrapper > div:first-child {
  background-color: var(--swm-purple-dark-transparent);
}

.animationsSection {
  width: 100%;
  font-size: 1.25rem;
  color: var(--swm-white);
  font-family: var(--swm-title-font);
  display: flex;
  gap: 6rem;
}

.animationsSection > div:first-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.animationsSection h4 {
  color: var(--swm-white);
  font-size: 1.5rem;
  font-weight: 600;
}

.animationsSection p {
  font-weight: 400;
  margin: 0;
}

.borderStyling {
  border: 1px solid var(--swm-white);
}
.backgroundStyling {
  background-color: transparent;
  color: var(--swm-white);
}

.backgroundStyling svg {
  stroke: var(--swm-white);
}

.backgroundStyling:hover {
  background-color: var(--swm-white);
  color: var(--swm-purple-light-100);
}
[data-theme='dark'] .backgroundStyling:hover {
  background-color: var(--swm-white);
  color: var(--swm-purple-dark-100);
}

.backgroundStyling:hover svg {
  stroke: var(--swm-purple-light-100);
}
[data-theme='dark'] .backgroundStyling:hover svg {
  stroke: var(--swm-purple-dark-100);
}

.animationsSectionButtonArrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.interactiveCodeBlock {
  flex: 1;
}

.interactiveCodeBlock > div:first-child {
  margin: 0;
}

.interactiveCodeBlock [class*='codeBlockLines'] {
  font-size: 14px;
}

.interactiveCodeBlock [class*='codeBlockContent'] code {
  background-color: var(--swm-off-background);
  padding: 1.5rem 2rem;
  height: auto;
  border: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1840px) {
  .interactiveCodeBlock {
    flex: 2;
  }
}

@media (max-width: 1200px) {
  .animationsSection {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .animationsSectionWrapper > div:first-child {
    margin-bottom: 4rem;
    padding: 3rem;
  }
  .animationsSection > div:first-child {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .animationsSection {
    display: flex;
    gap: 2rem;
  }
  .animationsSectionWrapper {
    margin-bottom: 2rem;
  }
  .animationsSectionWrapper > div:first-child {
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .interactiveCodeBlock [class*='codeBlockContent'] {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .animationsSectionWrapper {
    height: auto;
  }
  .animationsSectionWrapper > div:first-child {
    margin-bottom: 2.5rem;
  }
  .animationsSection {
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .animationsSection > div:first-child {
    gap: 1rem;
  }
  .animationsSectionWrapper > div:first-child {
    padding: 2rem;
  }
  .interactiveCodeBlock [class*='codeBlockContent'] code {
    padding: 1.5rem;
  }
}
