.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 0;
  z-index: 1;
}

.closeButton svg {
  color: white;
}

@media screen and (max-width: 996px) {
  .closeButton {
    align-items: flex-start;
    padding: 24px;
  }
}
