.container {
  background-color: var(--swm-red-dark-60);
  padding: 5px;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme='dark'] .container {
  background-color: var(--swm-red-dark-80);
}


.text {
  font-size: 16px;
  font-weight: 500;
  color: var(--swm-red-dark-140);
}
