.smallBox {
  width: 20px;
  height: 20px;
}

.animatedBox {
  width: 200px;
  height: 200px;
}

.row {
  display: flex;
  align-items: center;
}

.gap {
  row-gap: 24px;
  column-gap: 24px;
}

.marginTop {
  margin-top: 24px;
}

.marginLeft {
  margin-left: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-weight: 700;
  font-size: medium;
  margin-top: 48px;
}
