.selectionBox {
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: 2;

  background: var(--swm-white);
  border: 2px solid var(--swm-landing-heading-selected-border);

  cursor: grab;
  transition: scale 50ms ease-in-out;
}

.selectionBox:active {
  cursor: grabbing;
  scale: 1.35;
}

.selectionBox:hover {
  scale: 1.35;
}

.selectionContainer {
  position: relative;
  text-align: center;
  margin: 0 10px;
}

.movableHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.boxUpper {
  top: -6px;
}

.boxLower {
  bottom: -14px;
}

.boxLeft {
  left: -25px;
}

.boxRight {
  right: -25px;
}
