.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 80%;
  max-width: 996px;

  h2 {
    font-weight: 500;
  }

  h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 52.8px */
    letter-spacing: 0.96px;
    align-self: stretch;
  }
}

.videoContainer {
  height: 527px;
  margin-top: 40px;
  width: 100%;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 996px) {
  .aboutSection {
    gap: 16px;

    h3 {
      font-size: 26px;
    }
  }

  .videoContainer {
    height: 400px;
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .videoContainer {
    height: 300px;
  }
}

@media (max-width: 420px) {
  .videoContainer {
    height: 200px;
  }
}
