.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  width: 80%;
  max-width: 936px;

  .header {
    display: flex;

    h1 {
      font-size: var(--swm-heading-font-size-xl);
    }

    h1:last-child {
      margin-left: 12px;
      color: var(--swm-blue-light-100);
    }

    h2 {
      font-weight: 400;
      max-width: 696px;
    }
  }

  .buttons {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    a {
      width: 192px;
    }
  }
}

@media (max-width: 936px) {
  .headerSection {
    .header {
      h1 {
        font-size: var(--swm-h1-font-size-mobile);
      }

      h1:last-child {
        margin-left: 4px;
      }
    }
  }
}
