.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .roundedStep {
    position: static !important;
  }

  .description {
    justify-content: center;
  }
}
.description {
  flex: 1;
  display: flex;
  margin-bottom: 20px;
  height: fit-content;
  max-width: 450px;
  width: 100%;
}

.roundedStep {
  border-radius: 10px;
  height: fit-content;
  position: relative;
  top: 40px;
  padding: 10px;
  background-color: #dcdfeb;
  border-left: 6px solid #dcdfeb;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.2px;
  margin-right: 20px;
}

.stepTitle {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: -0.1px;
  margin-bottom: 10px;
}

.code {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: auto;
  max-width: 100%;
}

.code img,
.code div {
  width: 100%;
  height: 100%;
  margin: 0;
}

.codeInactive img,
.codeInactive div {
  opacity: 0.5;
}
