.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.description {
    flex: 1;
    display: flex;
    justify-content: center;
}

.roundedStep {
    border-radius: 10px;
    height: fit-content;
    position: relative;
    top: 40px;
    width: 60%;
    padding: 10px;
    background-color: #dcdfeb;
    border-left: 6px solid #dcdfeb;
}


.stepTitle {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.code {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333336;
}

.code img,
.code div {
    width: 100%;
    height: 100%;
    margin: 0
}

.codeInactive img,
.codeInactive div {
    opacity: 0.5;
}