a,
a:hover {
  color: #6200ee;
}

a:hover {
  color: #873df2;
}


@font-face {
  font-family: 'MaterialIcons';
  src: url('../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf')
    format('truetype');
}
