name: Test Android build
on:
  pull_request:
    paths:
      - 'android/**'
      - 'Common/**'
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory: [Example, FabricExample]
    concurrency:
      group: android-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Install NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r21d
      - name: Set ANDROID_NDK
        run: echo "ANDROID_NDK=$ANDROID_HOME/ndk-bundle" >> $GITHUB_ENV
      - name: Accept licenses
        run: /bin/bash -c "yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses > /dev/null"
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install root node dependencies
        run: yarn
      - name: Install example app node dependencies
        working-directory: ${{ matrix.working-directory }}
        run: yarn
      - name: Cache hermes build
        uses: actions/cache@v3
        env:
          cache-name: cache-rn-hermes-engine
        with:
          path: ${{ matrix.working-directory }}/node_modules/react-native
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.working-directory }}-${{ hashFiles('**/react-native/package.json', '**/patches/react-native+**') }}
      - name: Cache android libraries
        uses: actions/cache@v3
        env:
          cache-name: cache-rn
        with:
          path: ${{ matrix.working-directory }}/android/app/build/react-ndk
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.working-directory }}-${{ hashFiles('**/react-native/package.json', '**/patches/react-native+**') }}
      - name: Build app
        working-directory: ${{ matrix.working-directory }}/android
        run: ./gradlew assembleDebug --console=plain -PreactNativeArchitectures=arm64-v8a
