name: Build nightly npm package
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  schedule:
    - cron: '27 23 * * *' # at 23:27 every day
  workflow_dispatch:

jobs:
  call-build-workflow-rea-v3:
    if: github.repository == 'software-mansion/react-native-reanimated'
    uses: ./.github/workflows/build-npm-package-action.yml
    with:
      option: --nightly
      publish_on_npm: true
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
