name: Check branch changes
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    outputs:
      has_changes:
        value: ${{ jobs.check.outputs.has_changes }}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      has_changes: ${{ steps.commit_check.outputs.has_changes }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.branch }}

      - id: commit_check
        run: |
          COUNT=$(git log --oneline --since='24 hours ago' | wc -l)
          echo "Found $COUNT commits in the last 24 hours on branch ${{ inputs.branch }}"

          if [ "$COUNT" -gt 0 ]; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
          else
            echo "has_changes=false" >> $GITHUB_OUTPUT
          fi
