name: Example iOS build check
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  pull_request:
    paths:
      - .github/workflows/example-ios-build-check.yml
      - packages/react-native-reanimated/RNReanimated.podspec
      - packages/react-native-reanimated/scripts/reanimated_utils.rb
      - packages/react-native-reanimated/apple/**
      - packages/react-native-reanimated/Common/**
      - apps/paper-example/package.json
      - apps/paper-example/ios/**
      - apps/fabric-example/package.json
      - apps/fabric-example/ios/**
  merge_group:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - .github/workflows/example-ios-build-check.yml
      - packages/react-native-reanimated/RNReanimated.podspec
      - packages/react-native-reanimated/scripts/reanimated_utils.rb
      - packages/react-native-reanimated/apple/**
      - packages/react-native-reanimated/Common/**
      - apps/paper-example/package.json
      - apps/paper-example/ios/**
      - apps/fabric-example/package.json
      - apps/fabric-example/ios/**
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    if: github.repository == 'software-mansion/react-native-reanimated'
    runs-on: macos-14
    strategy:
      matrix:
        working-directory: [apps/paper-example, apps/fabric-example]
      fail-fast: false
    concurrency:
      group: ios-${{ matrix.working-directory }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3' # Not needed with a `.ruby-version` or `.tool-versions`
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Install monorepo node dependencies
        run: yarn install --immutable
      # TODO: Add caching for node_modules and artifacts that will work with monorepo setup.
      - name: Install Pods
        working-directory: ${{ matrix.working-directory }}/ios
        run: |
          bundle install
          bundle exec pod install

      - name: Build app
        working-directory: ${{ matrix.working-directory }}
        run: yarn react-native run-ios --no-packager
