name: Example Android build check
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  pull_request:
    paths:
      - .github/workflows/example-android-build-check.yml
      - packages/react-native-reanimated/android/**
      - packages/react-native-reanimated/Common/**
      - apps/paper-example/package.json
      - apps/paper-example/android/**
      - apps/fabric-example/package.json
      - apps/fabric-example/android/**
  merge_group:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - .github/workflows/example-android-build-check.yml
      - packages/react-native-reanimated/android/**
      - packages/react-native-reanimated/Common/**
      - apps/paper-example/package.json
      - apps/paper-example/android/**
      - apps/fabric-example/package.json
      - apps/fabric-example/android/**
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    if: github.repository == 'software-mansion/react-native-reanimated'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory:
          [
            apps/paper-example,
            apps/fabric-example,
            apps/external-worklets/example,
          ]
      fail-fast: false
    concurrency:
      group: android-${{ matrix.working-directory }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      # TODO: Add caching for node_modules and artifacts that will work with monorepo setup.
      - name: Install monorepo node dependencies
        run: yarn install --immutable

      - name: Build app
        working-directory: ${{ matrix.working-directory }}/android
        run: ./gradlew assembleDebug --build-cache -PreactNativeArchitectures=arm64-v8a
