name: NPM Worklets publish [Nightly]
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  schedule:
    - cron: '27 23 * * *' # at 23:27 every day
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # For publishing on NPM using OIDC

jobs:
  npm-worklets-publish-nightly:
    if: github.repository == 'software-mansion/react-native-reanimated'
    uses: ./.github/workflows/npm-worklets-package-build.yml
    with:
      option: --nightly
      publish_on_npm: true
