name: NPM Reanimated publish [Nightly]
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  schedule:
    - cron: '27 23 * * *' # at 23:27 every day
  workflow_dispatch:

jobs:
  check-v4-changes:
    if: github.repository == 'software-mansion/react-native-reanimated'
    uses: ./.github/workflows/check-branch-changes.yml
    with:
      branch: main

  npm-reanimated-4-publish-nightly:
    needs: check-v4-changes
    if: |
      github.repository == 'software-mansion/react-native-reanimated' &&
      needs.check-v4-changes.outputs.has_changes == 'true'
    uses: ./.github/workflows/npm-reanimated-package-build.yml
    with:
      option: --nightly
      publish_on_npm: true
    secrets: inherit

  check-v3-changes:
    if: github.repository == 'software-mansion/react-native-reanimated'
    uses: ./.github/workflows/check-branch-changes.yml
    with:
      branch: 3.19-stable

  npm-reanimated-3-publish-nightly:
    needs: check-v3-changes
    if: |
      github.repository == 'software-mansion/react-native-reanimated' &&
      needs.check-v3-changes.outputs.has_changes == 'true'
    uses: ./.github/workflows/npm-reanimated-package-build.yml
    with:
      option: --nightly
      publish_on_npm: true
      # Remember to update the branch on new minor releases.
      ref: 3.19-stable
    secrets: inherit
