name: Reanimated TypeScript compatibility test [Nightly]
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  pull_request:
    paths:
      - .github/workflows/reanimated-typescript-compatibility-test-nightly.yml
  schedule:
    - cron: '37 19 * * *'
  workflow_call:
  workflow_dispatch:

jobs:
  read-compatibility-json:
    if: github.repository == 'software-mansion/react-native-reanimated'
    runs-on: ubuntu-latest
    outputs:
      react-native-versions-with-nightly: ${{ steps.set-outputs.outputs.react-native-versions-with-nightly }}
    steps:
      - uses: actions/checkout@v4
      - name: Read compatibility.json
        run: node .github/workflows/helper/read-compatibility.js
      - name: Set outputs
        id: set-outputs
        run: |
          cat /tmp/react-native-versions-with-nightly.json >> $GITHUB_OUTPUT

  reanimated-typescript-compatibility-test-nightly:
    needs: read-compatibility-json
    if: github.repository == 'software-mansion/react-native-reanimated'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        react-native-version: ${{ fromJson(needs.read-compatibility-json.outputs.react-native-versions-with-nightly) }}
      fail-fast: false
    concurrency:
      group: TS-react-native-nightly-${{ matrix.react-native-version }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
      - name: Clear annotations
        run: .github/workflows/helper/clear-annotations.sh

      - name: Check if react-native version exists
        id: check-react-native-version
        run: |
          if ! npm view react-native@${{ matrix.react-native-version }} dist-tags ; then 
            echo "React Native version ${{ matrix.react-native-version }} does not exist - Skipping..."
            echo "SKIP_BUILD=true" >> $GITHUB_OUTPUT
          fi

      - name: Run TypeScript Compatibility Check
        if: ${{ steps.check-react-native-version.outputs.SKIP_BUILD != 'true' }}
        uses: ./.github/actions/reanimated-typescript-compatibility-check
        with:
          react-native-version: ${{ matrix.react-native-version }}
