name: Reanimated compatibility check [Nightly]
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]
  schedule:
    - cron: '37 19 * * *'
  workflow_call:
  workflow_dispatch:

jobs:
  reanimated-compatibility-check-nightly:
    if: ${{github.repository == 'software-mansion/react-native-reanimated' && (github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'Check compatibility'))}}
    runs-on: ${{matrix.platform == 'iOS' && 'macos-14' || 'ubuntu-latest'}}
    strategy:
      matrix:
        platform: ['iOS', 'Android']
        mode: ['Debug', 'Release']
        # TODO: Fetch compatibility in docs and here from common sources.
        # Update it when dropping support for RN versions.
        react-native-version: ['0.78']
      fail-fast: false
    env:
      APP_NAME: app
    concurrency:
      group: react-native-nightly-reanimated-build-check-${{ matrix.react-native-version}}-${{matrix.platform}}-${{ matrix.mode }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Set up JDK 18
        if: ${{ matrix.platform == 'Android' }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '18'
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: ruby/setup-ruby@v1
        if: ${{ matrix.platform == 'iOS' }}
        with:
          ruby-version: '3.3' # Not needed with a `.ruby-version` or `.tool-versions`
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name:
          Setup Yarn
          # Sometimes `npx @react-native-community/cli init` fails at random.
          # Pre-installing it with Yarn seems to improve stability.
        run: corepack enable && yarn init
      - name: Install React Native CLI
        run: yarn add @react-native-community/cli
      - name: Create app
        run: yarn rnc-cli init ${{env.APP_NAME}} --version ${{ matrix.react-native-version }} --skip-install --install-pods 0 --skip-git-init
      - name: Setup Yarn Modern in app
        # For convenience, sometimes there are vague issues with RN CLI and Yarn Legacy on the runner.
        working-directory: ${{ env.APP_NAME }}
        run: |
          touch yarn.lock
          yarn set version berry
          yarn config set nodeLinker node-modules
      - name: Install Worklets
        working-directory: ${{ env.APP_NAME }}
        run: yarn add "react-native-worklets@https://github.com/software-mansion/react-native-reanimated.git#workspace=react-native-worklets&commit=${{ github.sha }}"
      - name: Install Reanimated
        working-directory: ${{ env.APP_NAME }}
        run: yarn add "react-native-reanimated@https://github.com/software-mansion/react-native-reanimated.git#workspace=react-native-reanimated&commit=${{ github.sha }}"
      - name: Install Pods
        if: ${{ matrix.platform == 'iOS' }}
        working-directory: ${{ env.APP_NAME }}/ios
        run: bundle install && bundle exec pod update
      - name: Build app (iOS)
        if: ${{ matrix.platform == 'iOS' }}
        working-directory: ${{ env.APP_NAME }}/ios
        run: xcodebuild -workspace ${{env.APP_NAME}}.xcworkspace -configuration ${{matrix.mode}} -scheme ${{env.APP_NAME}} -destination "generic/platform=iOS Simulator" -quiet
      - name: Build app (Android)
        if: ${{ matrix.platform == 'Android' }}
        working-directory: ${{ env.APP_NAME }}/android
        run: ./gradlew assemble${{ matrix.mode }} --console=plain
