name: Reanimated Common validation
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/reanimated-common-validation.yml'
      - 'packages/react-native-reanimated/scripts/cpplint.sh'
      - 'packages/react-native-reanimated/scripts/validate-includes.sh'
      - 'packages/react-native-reanimated/Common/cpp/**'
  pull_request:
    paths:
      - '.github/workflows/reanimated-common-validation.yml'
      - 'packages/react-native-reanimated/scripts/cpplint.sh'
      - 'packages/react-native-reanimated/scripts/validate-includes.sh'
      - 'packages/react-native-reanimated/Common/cpp/**'
  merge_group:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    if: github.repository == 'software-mansion/react-native-reanimated'
    name: cpplint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cpplint==1.6.1
      - name: Install monorepo node dependencies
        run: yarn install --immutable

      - name: Install clang-format 20
        run: |
          # key to the arch
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc

          # recent release from https://apt.llvm.org/
          sudo apt-add-repository "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-20 main"

          sudo apt-get update
          sudo apt-get install -y clang-format-20

          # point to clang-20
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-20 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-20

      - name: Check clang-format version
        run: |
          clang-format --version
          which clang-format
      - name: Lint Common
        working-directory: packages/react-native-reanimated
        run: yarn lint:common

      - name: Disallow DEBUG macros
        run: |
          ! egrep -r '(#if DEBUG|#ifdef DEBUG)' packages/react-native-reanimated/Common/cpp/ packages/react-native-reanimated/apple/ packages/react-native-reanimated/android/src/main/cpp/
