name: Test TypeScript and Lint
on:
  pull_request:
    paths:
      - 'src/**'
      - '*'
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: static-root-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install node dependencies
        run: yarn
      - name: Check types
        run: yarn tsc --noEmit
      - name: Lint
        run: yarn lint:js
      - name: Finding circular dependencies
        run: yarn circular_dependency_check
      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
        with:
          limit-access-to-actor: false
      - name: Jest test:unit
        run: yarn test:unit
