name: Test TypeScript and Lint
on:
  pull_request:
    paths:
      - 'Example/**'
      - 'FabricExample/**'
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory: [Example, FabricExample]
    concurrency:
      group: static-example-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install root node dependencies
        run: yarn
      - name: Install ${{ matrix.working-directory }} app node dependencies
        working-directory: ${{ matrix.working-directory }}
        run: yarn
      - name: Check types
        working-directory: ${{ matrix.working-directory }}
        run: yarn tsc --noEmit
      - name: Lint
        working-directory: ${{ matrix.working-directory }}
        run: yarn lint:js
