name: Test TypeScript and Lint
on:
  pull_request:
    paths:
      - 'src/**'
      - '*'
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: static-root-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install node dependencies
        run: yarn
      - name: Check types
        run: yarn tsc --noEmit
      - name: Check type:generate
        run: yarn run type:generate
      - name: Lint
        run: yarn lint:js
      - name: Finding circular dependencies
        run: yarn circular_dependency_check
      - name: Jest test:unit
        run: yarn test:unit
