name: Test tvOS build
env:
  YARN_ENABLE_HARDENED_MODE: 0
on:
  pull_request:
    paths:
      - .github/workflows/tvos-build.yml
      - packages/react-native-reanimated/RNReanimated.podspec
      - packages/react-native-reanimated/scripts/reanimated_utils.rb
      - packages/react-native-reanimated/apple/**
      - packages/react-native-reanimated/Common/**
      - packages/react-native-reanimated/TVOSExample/package.json
      - packages/react-native-reanimated/TVOSExample/ios/**
  merge_group:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - .github/workflows/tvos-build.yml
      - packages/react-native-reanimated/RNReanimated.podspec
      - packages/react-native-reanimated/scripts/reanimated_utils.rb
      - packages/react-native-reanimated/apple/**
      - packages/react-native-reanimated/Common/**
      - packages/react-native-reanimated/TVOSExample/package.json
      - packages/react-native-reanimated/TVOSExample/ios/**

jobs:
  build:
    if: github.repository == 'software-mansion/react-native-reanimated'
    runs-on: macos-14
    env:
      WORKING_DIRECTORY: packages/react-native-reanimated/TVOSExample
    concurrency:
      group: tvos-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install monorepo node dependencies
        run: yarn install

      - name: Restore Reanimated node_modules from cache
        uses: actions/cache@v3
        with:
          path: packages/react-native-reanimated/node_modules
          key: ${{ runner.os }}-tvos-node-modules-reanimated-${{ hashFiles('packages/react-native-reanimated/yarn.lock') }}
          restore-keys: ${{ runner.os }}-tvos-node-modules-reanimated-

      - name: Install Reanimated node_modules
        working-directory: packages/react-native-reanimated
        run: yarn install

      - name: Restore app node_modules from cache
        uses: actions/cache@v3
        with:
          path: ${{ env.WORKING_DIRECTORY }}/node_modules
          key: ${{ runner.os }}-tvos-node-modules-${{ env.WORKING_DIRECTORY }}-${{ hashFiles(format('{0}/yarn.lock', env.WORKING_DIRECTORY)) }}
          restore-keys: ${{ runner.os }}-tvos-node-modules-${{ env.WORKING_DIRECTORY }}-

      - name: Install app node_modules
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install

      - name: Restore Pods from cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.WORKING_DIRECTORY }}/ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-tvos-pods-${{ env.WORKING_DIRECTORY }}-${{ hashFiles(format('{0}/ios/Podfile.lock', env.WORKING_DIRECTORY)) }}

      - name: Install Pods
        working-directory: ${{ env.WORKING_DIRECTORY }}/ios
        run: |
          bundler install
          bundler exec pod install

      - name: Restore build artifacts from cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.WORKING_DIRECTORY }}/ios/build
            ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-tvos-build-${{ env.WORKING_DIRECTORY }}-${{ hashFiles(format('{0}/ios/Podfile.lock', env.WORKING_DIRECTORY)) }}

      - name: Build app
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn react-native-tvos run-ios --no-packager --scheme TVOSExample-tvOS --simulator "Apple TV"
