name: Java Lint
on:
  pull_request:
    paths:
      - '.github/workflows/validate-java.yml'
      - 'android/src/main/java/**'
      - 'android/build.gradle'
  merge_group:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: validate-java-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - run: |
          echo "::remove-matcher owner=eslint-compact::"
          echo "::remove-matcher owner=eslint-stylish::"
      - run: |
          echo "::remove-matcher owner=tsc::"

      - name: Install node dependencies
        run: yarn
      - name: Lint
        run: yarn lint:java
