name: Java Lint
on:
  pull_request:
    paths:
      - 'android/src/main/java/**'
      - 'android/build.gradle'
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: validate-java-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install node dependencies
        run: yarn
      - name: Lint
        run: yarn lint:java
