name: Validate C++

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/validate-cpp.yml'
      - 'scripts/cpplint.sh'
      - 'Common/cpp/**'
      - 'apple/native/**'
      - 'android/src/main/cpp/**'
  pull_request:
    paths:
      - '.github/workflows/validate-cpp.yml'
      - 'scripts/cpplint.sh'
      - 'Common/cpp/**'
      - 'apple/native/**'
      - 'android/src/main/cpp/**'
  merge_group:
    branches:
      - main

jobs:
  lint:
    if: github.repository == 'software-mansion/react-native-reanimated'
    name: cpplint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cpplint

      - name: Run cpplint
        run: |
          scripts/cpplint.sh
